@font-face {
    font-family: "Open Sans";  
    src: url("../fonts/OpenSans-Regular.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: normal;
     }
@font-face {
    font-family: "Open Sans";  
    src: url("../fonts/OpenSans-Bold.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: bold;
     }

body {
    font-family: 'Open Sans', sans-serif;
}
main {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: url('../img/background.jpg') no-repeat;
    background-size: cover;
    position: relative;
}
main::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(32, 56, 87, 0.5);
}
main .center {
    padding-top: 30px;
}
main .calcWrapper {
    background: rgb(18, 16, 39);
    border-radius: 7px;
    padding: 50px 20px 40px 20px;
    color: #222;
    font-weight: 700;
    margin-bottom: 30px;
    
}
#input4c {
    width: 100%;
    min-height: 60px;
    margin-bottom: 20px;
    font-size: 24px;
    padding: 10px;
    border: 2px solid #222;
    border-radius: 5px;
}

.calcWrapper label {
    color: #fff;
    font-size: 24px;
    
}
.calcWrapper button {
    font-weight: 700;
    padding: 10px 10px;
    background: #fff;
    width: 100%;
    border: 2px solid #222;
    border-radius: 5px;
    font-size: 24px;
    margin-bottom: 3px;

    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}
.calcWrapper button:hover {
    background: #f6f6ff;
}
.problems {
    margin-top: 15px;
    font-size: 20px;
}
.modal-body__title {
    margin-bottom: 20px;
}
.modal-body__rule {
    margin-bottom: 10px;
}
.btn-primary-1 {
    background: rgb(18, 16, 39);
    color: #fff;
}
.btn-primary-1:hover {
    color: #acacac;
}
.btn-secondary-1 {
    background: #fff;
    color: rgb(18, 16, 39);
    border: 1px solid rgb(18, 16, 39);
}
.info-block {
    margin-top: 30px;
    margin-bottom: 50px;
    color: #fff;
}
.info-block h2 {
    font-size: 48px;
    font-weight: 900;
    text-shadow: rgb(22, 18, 46) 2px 2px 1px;
}
.info-block p {
    font-weight: 500;
    text-shadow: rgb(22, 18, 46) 1px 1px 1px;
}
.thanks {
    color: #fff;
    text-shadow: rgb(22, 18, 46) 2px 2px 1px;
}
.thanks a {
    font-weight: bold;
    color: #fff;
}
.thanks__title {
    font-size: 50px;
    font-weight: bold;
}
@media (min-width: 300px) and (max-width: 420px){
    main .calcWrapper {
        padding-top: 30px;
        padding-bottom: 20px;
    }
    .info-block {
        display: none;
    }
    .col-3 {
        padding: 0 8px;
    }
    /*:(*/
}
@media (min-width: 768px) and (max-width: 992px){
    .col-3  {
        padding: 0 10px;
    }
    /*:(*/
}
@media (min-width: 0px) and (max-width: 350px){
    .info-block {
        display: none;
    }

}